{
    "app": {
        "port": 3000
    },

    "db": {
        "name": "<Database Name>",
        "username": "<Database Username For Server>",
        "password": "<Database Password For Server>"
    },

    "urls": {
        "baseUrl": "http://localhost:3001/",
        "uiBaseUrl": "http://localhost:3001/"
    }
}
